[program:gunicorn]
user = root                                                          
autostart=true
autorestart=true
redirect_stderr = true                                            
command = {{ project_scripts }}/start_gunicorn.sh              
stdout_logfile = {{ project_home }}/gunicorn.log              
