server {
    listen        80;
    server_name {{ server_name }};
    proxy_set_header Host $http_host;
    client_max_body_size    10m;
    keepalive_timeout       5;

    location / {
        proxy_pass          http://localhost:8000/;
    }
    
    location /static {    
        autoindex on;    
        alias {{ project_static }}/;    
    }
}
