#!/usr/bin/env sh

####
##  A simple launcher for gunicorn to be used by supervisord.  
####

. {{ project_venv }}/bin/activate
. {{ project_venv }}/bin/postactivate

export PYTHONPATH={{ project_code }}

gunicorn -w {{ gunicorn_workers }} {{ project_wsgi }}:application -b 0.0.0.0:{{ gunicorn_port }}
